/* Style de base du tableau */
.tableau-competences {
    color: #84d2ff; /* Couleur bleue pour le texte */
    vertical-align: middle; /* Alignement vertical au centre */
    width: 100%;
    border-collapse: collapse;
}

/* Style des cellules de titre */
.tableau-competences th {
    background-color: #000e29; /* Couleur de fond gris clair */
    padding: 8px;
    border: 1px solid #0066CC; /* Bordure grise autour de chaque cellule */
}

/* Style des cellules de données */
.tableau-competences td {
    padding: 8px;
    border: 1px solid #0066CC; /* Bordure grise autour de chaque cellule */
}

/* Style des liens dans les cellules de titre */
.tableau-competences th a {
    color: #84d2ff; /* Couleur bleue pour les liens */
    text-decoration: none; /* Pas de soulignement pour les liens */
}

/* Style des liens dans les cellules de données */
.tableau-competences td a {
    color: #ddd; /* Couleur bleue pour les liens */
    text-decoration: none; /* Pas de soulignement pour les liens */
}

/* Hover sur les liens */
.tableau-competences th:hover,
.tableau-competences td:hover {
    background-color: #da8b15; /* Changement de couleur au survol */
}
